.notification-container {
  position: absolute;
  top: 10%;
  right: 0;
  width: 20%;
  height: auto;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.btn-block {
  padding: 1em;
  border-bottom: 1px solid rgb(143, 138, 138);
}
.btn-block button {
  padding: 0.7em 1em;
  background: #2e52dc;
  border: #2e52dc;
  margin-left: 80%;
}
.btn-block button svg {
  color: white;
  font-size: large;
  font-weight: 400;
}
.messages {
  padding: 0.5em 1em;
  border: 1px solid grey;
  border-radius: 5px;
}
.message-container {
  padding: 1em 2em;
}
