.logout-btn {
  border: 2px solid rgba(8, 68, 179, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #2e52dc;
  border-radius: 5px;
  color: white;
  font-size: large;
  font-weight: 500;
  position: absolute;
  left: 55%;
  top: 18%;
  height: 6%;
  width: 6%;
}
.logout-container {
  width: 35%;
  height: 15em;
  position: absolute;
  left: 30%;
  top: 25%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}
.inner-logout-container {
  height: 100%;
  padding: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30%;
}

.logout-content {
  font-size: larger;
  font-weight: 500;
  padding: 5%;
}
.button-container {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.button-container :first-child {
  border: 1px solid green;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 128, 0, 0.877);
  color: white;
  font-size: large;
  font-weight: 500;
  height: 100%;
  width: 20%;
  padding: 3%;
  border-radius: 7px;
}
.button-container :last-child {
  border: 2px solid rgba(179, 28, 8, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(223, 19, 19, 0.938);
  color: white;
  font-size: large;
  font-weight: 500;
  height: 100%;
  width: 20%;
  border-radius: 7px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.blur-background {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
