
.batch-container{
    height: 100vh;
}
.batches-Header-Container {
    width: 80%;
    height: 3.125em;
    display: flex;
    margin: auto;
}

.searchBar-Container {
    width: 50em;
    padding:0 0.2em;
    display: flex;
    align-items: center;
}
.searchBar-Container .search-search input{
    border: 1px solid;
    width: 64em;
    padding: 1em;
    border-radius: 5px;
}
.searchBar-Container .search-search span {
    font-size: 1.25em;
    position: absolute;
    left: 47em;
    top: 1.5em;
}

.searchBar-Container input:focus {
    outline: none;
    border: none;
}

.filter-Container {
    border-radius: 0.3125em;
    width: 7em;
    font-size: 1em;
    text-transform: capitalize;
}

.filter-Container select {
    width: 7em;
    height: 3em;
    border: none;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.search-search{
    width: 90%;
    display: flex;
    align-items: end;
}
.searchBar-Container select:focus {
    outline: none;
}

#all-Batches-container {
    width: 100%;
    height: 88.5%;
    display: flex;
    justify-content: center;
    gap: 1.25em;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
}

.all-Bacthes {
    width: 95%;
    height: 90%;
    border-radius: 0.3125em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25em;
    overflow-y: auto;
    padding: 0.125em;
    justify-content: space-around;
}

#batches {
    width: 32%;
    height: 65%;
    padding: 0.625em;
    background-color: #f9f9f9;
    margin-bottom: 1.25em;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    transition: background 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 1.25em;
}

#batches:hover {
    background-color: #ebe2df;
    border-radius: 1.25em;
    transform: scale(1.02);
}

.assign_Btn {
    background: rgba(255, 255, 255, 0.1);
    border: 0.0625em solid rgba(40, 24, 12, 0.2);
    border-radius: 0.625em;
    padding: 0.625em 1.25em;
    cursor: pointer;
    backdrop-filter: blur(0.625em);
    transition: background 0.3s, border 0.3s;
    width: 100%;
    position: relative;
    right: 0.7em;
    top: 5px;
    color: orangered;
    font-size: 0.9em;
    font-weight: 500;
}
.show-More{
    border-radius: 0.625em;
    cursor: pointer;
    position: relative;
    left: 0.7em;
    top: 5px;
    color: orangered;
    text-decoration: none;
}
.show-Btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.assign_Btn:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 0.0625em solid rgba(255, 255, 255, 0.3);
}

.batch-Card>p {
    padding: 0.3125em;
}

.batch-Card>h1 {
    font-size: 1.125em;
    padding: 0.625em;
}

.online {
    color: #059605;
    padding: 0.125em 0.5625em;
    border-radius: 0.1875em;
}

.offline {
    color: #bf0606;
    padding: 0.125em 0.5625em;
    border-radius: 0.1875em;
}

.create-Batches span{
    border: 0.0625em solid rgb(175, 173, 173);
    border-radius: 0.3125em;
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 0.6em;
    margin-left: 10em;
}

.subject-Name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75em;
    font-size: 1.375em;
}


@media screen and (max-width: 768px) {
    .searchBar-Container {
        width: 90%;
        margin-left: 5%;
    }

    .filter-Container select {
        width: 50%; 
    }

    #batches {
        width: 100%; 
    }

    .edit-Batches {
        right: 0; 
    }
}

#toggle{
    overflow-y: hidden;
}